{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://sign.sproof.com/api/v1",
      "description": "Default Server"
    }
  ],
  "info": {
    "description": "**Secure digital signatures made easy.** Developed by **sproof** in Salzburg, Austria, this API allows you to integrate legally binding signature workflows directly into your application. \n\nLearn more about our mission at [sproof.com](https://sproof.com).\n\n### 🎓 sproof Academy\nAccelerate your integration with our [Academy modules](https://sproof.atlassian.net/wiki/spaces/Academy/pages/1178664961/sproof+Sign+Quick+Start+Guide+API). These guides cover essential use cases and implementation steps:\n\n* **[Collecting Signatures](https://sproof.atlassian.net/wiki/spaces/Academy/pages/1178107908/sproof+Sign+Collecting+Signatures+API):** Learn how to send documents, handle real-time status updates via callbacks, and retrieve final signed files.\n* **[Signature Workflows](https://sproof.atlassian.net/wiki/spaces/Academy/pages/1178075162/sproof+Sign+Collecting+Signatures+incl.+Workflow+API):** Streamline processes by merging dynamic documents with pre-configured workflows. Covers workflow creation, recipient invitations, and automated tracking.\n* **[Embedded Signing Widget](https://sproof.atlassian.net/wiki/spaces/Academy/pages/1178697759/sproof+Widget+Embed+Signing+API):** Integrate the signing experience directly into your own website or application for a seamless user journey.\n\n### 🔗 Quick Links\n* **Base URL:** `https://sign.sproof.com/api/v1/`\n* **Web App:** [sign.sproof.com](https://sign.sproof.com/)\n* **Developer Support:** [Join our Discord Server](https://discord.gg/HjWe6MUMJ4)\n\n\n# Using the member ID\nThe member ID can be used to open the document directly within the sproof sign editor after creating a [signature request](#operation/createSignatureRequest). It can be found in the response object after a successful call.\n\nTo open the editor the member ID has to be appended to the URL as follows: `https://sign.sproof.com/#/editor/{memberId}`\n\n\n### Javascript code sample:\n\n```\nconst requestBody = {\n    \"token\": \"XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX\",\n    \"data\": base64File,\n    \"callbackUrl\": \"https://webhook.site/abc\",\n    \"fileName\": \"important_contract\",\n    \"email\": \"max.mustermann@sproof.com\",\n    \"firstName\": \"Max\",\n    \"lastName\": \"Mustermann\",\n};\nconst requestOptions = {\n    'method': 'post',\n    'headers': { 'Content-Type': 'application/json' },\n    'body': JSON.stringify(requestBody),\n};\nconst response = await fetch(\"https://sign.sproof.com/api/v1/documents\", requestOptions);\nconst responseJson = await response.json();\n\n//open the document in the sproof sign editor\nwindow.open(\"https://sign.sproof.com/#/editor/\" + responseJson.member.id);\n```\n\n\n\n# Embed sproof sign in an iframe\n**Warning! This only works for qualified electronic signatures, as they provide a second factor for authentication!**\nThe [Create signature request](#operation/createSignatureRequest) call can be used to create a signature request. By default, the sproof sign backend sends out emails to all signers. \n\n  - For this use case we set the `doNotSendEmail` property in the signer object of the  request to `true`, to avoid sending extra emails to the signer.\n  - set the `signatureTypes` to `qualified`, i.e. requires a signature with qualified electronic signature.\n  - Parse the returned JSON object to get the ID of the created document for the respective signer.\n  - Display an iframe and set the URL to https://sign.sproof.com/#/editor/{ID}\n  - Optionally set the parameters `returnUrl` and `returnBtnText` to direct the signer to the next document after signing or to return them to a custom page of your application (see image below)\n\n<img style=\"max-width: 650px; width: 100%; display: block; margin: 2.5rem auto;\" class=\"docImg\" src=\"../img/return_btn_text_iframe.png\" />\n\n# Text Placeholders Overview\nText placeholders are used in documents (e.g., Microsoft Word DOCX, Google Docs, PDF) to define signature positions or form fields. These placeholders are recognized and processed during the upload.\n\n## Key Features\n- **Customizable Appearance:** You can change the color of text placeholders to make them invisible within the document.\n- **Size Adjustment:** Prefixing a text placeholder with underscores `_` allows you to adjust its size.\n\n## Constraints\n- **Minimum Font Size:** Text placeholders must have a font size of at least 4pt to be recognized.\n- **Single Line Requirement:** Placeholders must not contain line breaks.\n\n## Signature Placeholders\nSignature placeholders specify where a document should be signed by designated individuals. The format for a signature placeholder is as follows:\n\n```\n{sproof{first_name, last_name, email_address, signing_order, [optional] doNotSendEmail}sproof}\n```\n\n### Field Descriptions\n1. **first_name**: \n  - **Description**: The first name of the recipient.\n  - **Example**: `John`\n  - **Required**: Yes\n\n2. **last_name**: \n  - **Description**: The last name of the recipient.\n  - **Example**: `Doe`\n  - **Required**: Yes\n\n3. **email_address**: \n  - **Description**: The email address of the recipient. This address will be used to invite the person to sign the document.\n  - **Example**: `john.doe@example.com`\n  - **Required**: Yes\n\n4. **signing_order**: \n  - **Description**: Specifies the order in which the recipients will sign the document. Recipients with the same order value will be invited to sign simultaneously. If you want the document to be signed sequentially, assign incremental values (e.g., `1`, `2`, `3`, etc.).\n  - **Example**: `1`\n  - **Required**: Yes\n\n5. **doNotSendEmail** (Optional): \n  - **Description**: A flag that indicates whether the recipient should receive an email invitation to sign the document. If set to `true`, the signatory will not receive an email.\n  - **Example**: `true`\n  - **Default Value**: `false`\n  - **Required**: No\n\n### Example\n```\n{sproof{John, Doe, john.doe@example.com, 1, true}sproof}\n```\n\n### Usage\n**To activate signature placeholders, set the `usePlaceholders` flag to `true` in the [Create Signature Request](#operation/createSignatureRequest) API call.**\n\nWhen a document containing signature placeholders is opened in the sproof sign interface, a dialog opens showing the specified recipients. Recipients can then be invited to the document with one click or edited further in the editor. The `signing_order` parameter controls whether all signatories are invited simultaneously or sequentially.\n\n![Signature Placeholder Example](../img/placeholder_popup.png)\n\n## Form Field Placeholders\nForm field placeholders define where users can enter information such as text, dates, or checkboxes. The format for a form field placeholder is as follows:\n\n```\n{sp{type, [optional] label, [optional] content, [optional] recipient_email, [optional] required}sp}\n```\n\n### Field Descriptions\n1. **type**: \n  - **Description**: Specifies the type of form field to be created.\n  - **Available Options**:\n    - `TB` - TextBox\n    - `IB` - IBAN Field\n    - `DB` - Date Box\n    - `CB` - Checkbox - **The checkbox requires only a single underscore (_) and its size depends on the font size of the underscore**\n  - **Example**: `TB`\n  - **Required**: Yes\n\n2. **label** (Optional): \n  - **Description**: Defines the label that will be displayed for the form field. This provides a visual cue to the user about what information is expected.\n  - **Example**: `Name`\n  - **Required**: No\n\n3. **content** (Optional): \n  - **Description**: Prefills the form field with the specified content. This is useful for providing default values or examples.\n  - **Example**: `John Doe`\n  - **Required**: No\n\n4. **recipient_email** (Optional): \n  - **Description**: The email address of the recipient assigned to the form field. If not provided, the field is unassigned and can be filled out by anyone with access to the document.\n  - **Example**: `john.doe@example.com`\n  - **Required**: No\n\n5. **required** (Optional): \n  - **Description**: Indicates whether the form field is mandatory for the user to fill out. If set to `true`, the form cannot be submitted until the field is completed.\n  - **Example**: `true`\n  - **Default Value**: `false`\n  - **Required**: No\n\n### Example\n```\n{sp{TB, Name, John Doe, john.doe@example.com, true}sp}\n```\n### Usage\nTo include form field placeholders, simply insert them into your document and configure the fields as required.\n\n## Example Files\nDownload example files to see how placeholders are implemented in practice:\n- [Signature Placeholder Example File (German)](files/Platzhalter-Demo.docx)\n- [Signature Placeholder Example File (English)](files/Placeholder-Demo.docx)\n- [Formfield Example File (English)](files/FormField-Demo.docx)\n\n# Authentication\n\nsproof sign uses an **api key** for authentication. It can be obtained by purchasing an enterprise plan. The key can be found in the settings page of the administrator profile (see image below).\n\n<img style=\"max-width: 650px; width: 100%; display: block; margin: 2.5rem auto;\" class=\"docImg\" src=\"../img/api_keys_dashboard.png\" />\n\n# Changelog\n## 17/03/2026 - version 3.0.2\n\n- **Updated**: Improved `POST /folder/{folderId}/documents` description and `DELETE /documents/{memberId}` behavior for single documents and documents in an envelope (sender/recipient handling and the `all` parameter).\n\n\n**[View Full Changelog](https://sign.sproof.com/api/v1/changelog)**\n",
    "version": "3.0.2",
    "title": "sign.sproof.com API Documentation",
    "contact": {
      "name": "API Support",
      "email": "support@sproof.com",
      "url": "https://sproof.com"
    },
    "x-logo": {
      "url": "./img/sproof_logo.png",
      "altText": "sproof sign, the easiest way to sign documents"
    }
  },
  "tags": [
    {
      "name": "Signatures",
      "description": "Signature handling"
    },
    {
      "name": "Signatures with workflows",
      "description": "Invite recipients with workflow"
    },
    {
      "name": "Documents",
      "description": "Document operations"
    },
    {
      "name": "Members",
      "description": "Plan member management"
    },
    {
      "name": "Idents",
      "description": "Identity verification management for Relying Parties"
    },
    {
      "name": "document_model",
      "x-displayName": "The Document Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofDocument\" />\n"
    },
    {
      "name": "folder_model",
      "x-displayName": "The Folder Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofFolder\" />\n"
    },
    {
      "name": "signer_model",
      "x-displayName": "The Signer Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofSigner\" />\n"
    },
    {
      "name": "planMember_model",
      "x-displayName": "The Planmember Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofPlanMember\" />\n"
    },
    {
      "name": "pagination_model",
      "x-displayName": "The Pagination Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofPaginationObject\" />\n"
    },
    {
      "name": "mainAddress_model",
      "x-displayName": "The Main Address Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofMainAddress\" />\n"
    },
    {
      "name": "idDocumentData_model",
      "x-displayName": "The ID Document Data Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/SproofIdDocumentData\" />\n"
    },
    {
      "name": "Fastlane",
      "description": "This section outlines the necessary API requests for managing Fastlane profiles. \n\nThe Fastlane is a streamlined user interface designed to accelerate the process of collecting signatures and other required data. It provides a guided, step-by-step flow, ensuring efficiency and ease of use for your recipients. Fastlane profiles allow for the customization of this process, enabling you to tailor the signing flow according to your specific needs.\n\nAll created Fastlane profiles are accessible to every member of your plan within the web application, making it simple to manage and use across your organization.\n\nFor more details on how Fastlane works, visit the [sproof Academy](https://sproof.atlassian.net/wiki/spaces/Academy/pages/1178402828/sproof+Fastlane+Collecting+Signatures+API).\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "Documents",
        "Envelopes",
        "Signatures",
        "Signatures with workflows",
        "Stack",
        "Fastlane",
        "Idents"
      ]
    },
    {
      "name": "Member Management",
      "tags": [
        "Members"
      ]
    },
    {
      "name": "Models",
      "tags": [
        "document_model",
        "folder_model",
        "signer_model",
        "planMember_model",
        "pagination_model",
        "mainAddress_model"
      ]
    }
  ],
  "components": {
    "schemas": {
      "SproofBaseScreenConfiguration": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Determines whether the screen is enabled.",
            "default": true
          },
          "title": {
            "type": "string",
            "description": "Title of the screen.",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "description": "Description text for the screen.",
            "maxLength": 500
          },
          "icon": {
            "type": "boolean",
            "description": "Displays an icon on the screen if enabled.",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "SproofWelcomeScreenConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SproofBaseScreenConfiguration"
          },
          {
            "type": "object",
            "properties": {
              "showDocumentBtn": {
                "type": "boolean",
                "description": "Determines whether a button to preview the document is shown.",
                "default": true
              }
            },
            "additionalProperties": false
          }
        ],
        "description": "Settings for the welcome screen.\n"
      },
      "SproofDocumentScreenConfiguration": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Determines whether the document screen is enabled.",
            "default": true
          },
          "fullScreen": {
            "type": "boolean",
            "description": "Displays the document screen in full-screen mode if enabled.",
            "default": false
          },
          "mandatoryScrolling": {
            "type": "boolean",
            "description": "Forces mandatory scrolling through the document.",
            "default": false
          }
        },
        "description": "Settings for the document screen.\n"
      },
      "SproofCountryCode": {
        "type": "string",
        "description": "ISO country code or 'all' for all countries",
        "enum": [
          "all",
          "at",
          "be",
          "bg",
          "hr",
          "cy",
          "cz",
          "dk",
          "ee",
          "fi",
          "fr",
          "de",
          "gr",
          "hu",
          "ie",
          "it",
          "lv",
          "lt",
          "lu",
          "mt",
          "nl",
          "pl",
          "pt",
          "ro",
          "sk",
          "si",
          "es",
          "se",
          "al",
          "ad",
          "am",
          "by",
          "ba",
          "fo",
          "ge",
          "gi",
          "is",
          "im",
          "xk",
          "li",
          "mk",
          "md",
          "mc",
          "me",
          "no",
          "sm",
          "rs",
          "ch",
          "tr",
          "ua",
          "gb",
          "va"
        ],
        "default": "at"
      },
      "SproofProviderTag": {
        "type": "string",
        "description": "Identity provider tag for the signing process",
        "enum": [
          "evrotrust",
          "primeeid",
          "swisscom",
          "smartid",
          "mobileid",
          "ptidcard",
          "beidcard",
          "frusbcard",
          "rousbcard",
          "dtrust",
          "lvidcard",
          "eeidcard",
          "fiidcard",
          "hridcard",
          "idaustria",
          "prime",
          "simplysign",
          "spid",
          "sproof-standard",
          "sproof-qualified",
          "uanataca",
          "yes",
          ""
        ],
        "x-enum-descriptions": [
          "Evrotrust provider",
          "PrimeEID provider",
          "Swisscom provider",
          "SmartID provider",
          "MobileID provider",
          "Portuguese ID Card provider",
          "Belgian ID Card provider",
          "French USB Card provider",
          "Romanian USB Card provider",
          "D-Trust provider",
          "Latvian ID Card provider",
          "Estonian ID Card provider",
          "Finnish ID Card provider",
          "Croatian ID Card provider",
          "ID Austria provider",
          "Prime provider",
          "SimplySign provider",
          "SPID provider",
          "Sproof Standard provider",
          "Sproof Qualified provider (requires active User+ license)",
          "Uanataca provider",
          "Yes provider",
          "Empty/No provider selected"
        ],
        "default": ""
      },
      "SproofProviderScreenConfiguration": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Determines whether the provider screen is enabled.",
            "default": true
          },
          "defaultCountry": {
            "$ref": "#/components/schemas/SproofCountryCode"
          },
          "defaultProviderTag": {
            "$ref": "#/components/schemas/SproofProviderTag"
          }
        },
        "description": "Settings for the provider screen.\n"
      },
      "SproofSignScreenConfiguration": {
        "type": "object",
        "properties": {
          "signOnDisplay": {
            "type": "boolean",
            "description": "Determines whether the signature screen supports sign-on-display.",
            "default": true
          },
          "signatureCard": {
            "type": "boolean",
            "description": "If set to true, the visual representation includes a signature card.",
            "default": true
          },
          "previewDocumentButton": {
            "type": "boolean",
            "description": "Displays the preview document button if enabled.",
            "default": true
          }
        },
        "additionalProperties": false,
        "description": "Settings for the signature screen.\n"
      },
      "SproofEndScreenConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SproofBaseScreenConfiguration"
          },
          {
            "type": "object",
            "properties": {
              "helpText": {
                "type": "boolean",
                "description": "Displays help text on the end screen if enabled.",
                "default": true
              },
              "shareDocumentBtn": {
                "type": "boolean",
                "description": "Displays the share document button if enabled.",
                "default": true
              },
              "showDownloadDocBtn": {
                "type": "boolean",
                "description": "Shows the download document button if enabled.",
                "default": true
              }
            },
            "additionalProperties": false
          }
        ],
        "description": "Settings for the end screen.\n"
      },
      "SproofFastlaneScreensConfiguration": {
        "type": "object",
        "description": "Customization options for the profile's screens.",
        "properties": {
          "welcome": {
            "$ref": "#/components/schemas/SproofWelcomeScreenConfiguration"
          },
          "document": {
            "$ref": "#/components/schemas/SproofDocumentScreenConfiguration"
          },
          "provider": {
            "$ref": "#/components/schemas/SproofProviderScreenConfiguration"
          },
          "sign": {
            "$ref": "#/components/schemas/SproofSignScreenConfiguration"
          },
          "end": {
            "$ref": "#/components/schemas/SproofEndScreenConfiguration"
          }
        },
        "additionalProperties": false
      },
      "SproofSuccessEmailConfiguration": {
        "type": "object",
        "description": "Customization settings for the success email sent after completion.",
        "properties": {
          "subject": {
            "type": "string",
            "description": "Subject line of the success email.",
            "maxLength": 255,
            "example": "SUBJECT",
            "default": "[recipient_name] has signed [document_name]"
          },
          "title": {
            "type": "string",
            "description": "Title of the success email.",
            "maxLength": 100,
            "example": "THIS IS THE CUSTOM TITLE",
            "default": "You have signed [document_name]"
          },
          "text": {
            "type": "string",
            "description": "Body text of the success email.",
            "maxLength": 1000,
            "example": "CUSTOM TEXT THAT IS ADDED IN THE FASTLANE",
            "default": "[document_name] was signed successfully. You can find the document in the attachment or view it in the dashboard."
          },
          "sendEmail": {
            "type": "boolean",
            "description": "If set to false, an email will not be sent to the signer.",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "SproofFastlaneConfiguration": {
        "type": "object",
        "description": "Configuration settings for the Fastlane profile, including customizable screens and success email.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the Fastlane profile that appears in the profile selector.",
            "minLength": 1,
            "maxLength": 100,
            "example": "Document Signing for HR"
          },
          "screens": {
            "$ref": "#/components/schemas/SproofFastlaneScreensConfiguration"
          },
          "successEmail": {
            "$ref": "#/components/schemas/SproofSuccessEmailConfiguration"
          },
          "backgroundColor": {
            "type": "string",
            "description": "The background color of the Fastlane screens as a hex color.",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$",
            "example": "#e1e1e1",
            "default": "#FFFFFF"
          },
          "showAppBar": {
            "type": "boolean",
            "description": "If set to false, hides the app bar of the Fastlane.",
            "default": true
          },
          "showProgressBar": {
            "type": "boolean",
            "description": "If set to false, hides the progress bar of the Fastlane.",
            "default": true
          },
          "showHeader": {
            "type": "boolean",
            "description": "If set to false, hides the header in the signing-screen.",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "SproofSignatureBoxes": {
        "description": "Signature Box Array",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SproofSignatureBox"
        }
      },
      "SproofQualifiedMemberRequestObject": {
        "description": "Qualified member request object",
        "type": "object",
        "required": [
          "token",
          "email"
        ],
        "properties": {
          "token": {
            "description": "Token for authentication (e.g. your API key)",
            "example": "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX",
            "type": "string"
          },
          "email": {
            "description": "Email address of the qualified member",
            "type": "string",
            "example": "max.mustermann@sproof.com"
          },
          "register": {
            "description": "Boolean which indicates that sproof will automatically create an account for the qualified member, If set to `true` then `firstName` and `lastName` become required also .",
            "type": "boolean",
            "default": false,
            "example": true
          },
          "firstName": {
            "description": "First name of qualified member, becomes `required` parameter if `register` is set to `true`",
            "type": "string",
            "example": "Max"
          },
          "lastName": {
            "description": "Last name of qualified member, becomes `required` parameter if `register` is set to `true`",
            "type": "string",
            "example": "Mustermann"
          },
          "phoneNumber": {
            "description": "Phone number of qualified member",
            "type": "string",
            "example": "+4312345678"
          },
          "doNotSendEmail": {
            "description": "If set to `true` no email is sent to the newly created member",
            "type": "boolean",
            "example": true,
            "default": false
          }
        }
      },
      "SproofSignatureCallbackObject": {
        "title": "Signature Callback Object",
        "description": "The callback object after signing containing document and signature information",
        "type": "object",
        "properties": {
          "document": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SproofDocument"
              },
              {
                "description": "The document object with updated signature information"
              }
            ]
          },
          "event": {
            "type": "string",
            "description": "The type of event that triggered the callback",
            "enum": [
              "signature_added",
              "document_completed",
              "document_declined"
            ],
            "example": "signature_added"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the event occurred",
            "example": "2024-03-28T14:40:06.698Z"
          }
        }
      },
      "SproofCreateFolderRequest": {
        "type": "object",
        "required": [
          "name",
          "documentIds"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New Envelope",
            "description": "Name of the envelope"
          },
          "documentIds": {
            "type": "array",
            "description": "Document IDs of draft documents that should be combined into an envelope",
            "xml": {
              "wrapped": true
            },
            "items": {
              "type": "string",
              "example": [
                "1ebf5b4afdc8f421a848b694037a3beb66f7bc70fba1b16c75e223d7f9987b06b091bd",
                "5e316c52cfcbe810cd12108a6b36141d3cc8116069b4ee1cb66e8a04381ce1ec958176"
              ],
              "xml": {
                "name": "documentId"
              }
            }
          }
        }
      },
      "VerifyDocumentRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Base64 encoded file (PDF)",
            "example": "JVBERi0xLjQKJe... (truncated)"
          },
          "token": {
            "type": "string",
            "description": "Token for authentication (e.g. your API key). Can be provided here or as a query parameter.",
            "example": "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX"
          }
        }
      },
      "AddProfileToDocumentRequest": {
        "type": "object",
        "properties": {
          "memberIds": {
            "type": "array",
            "description": "A list of unique admin memberIds. Each id corresponds to a document that will be configured to use the Fastlane profile specified.\n\n**Note: The Fastlane profile is only visible to recipients where the useFastlane flag was set at the time of the invite.**\n",
            "items": {
              "type": "string",
              "example": "d46b68b53d2bef3025fd21a0737b0cd7425b1270b0115f39dafa46131023247cd46e7f"
            }
          }
        }
      },
      "SproofSignatureDetail": {
        "type": "object",
        "description": "Details about a signature operation",
        "properties": {
          "success": {
            "description": "Indicates if the signature operation was successful",
            "type": "boolean",
            "example": true
          },
          "errorMessage": {
            "description": "Error message if the signature operation failed",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "name": {
            "description": "Name and email of the signer",
            "type": "string",
            "example": "Max Mustermann [max.mustermann@sproof.com]"
          },
          "reason": {
            "description": "Reason for the signature",
            "type": "string",
            "example": "Signature export for Max Mustermann [max.mustermann@sproof.com]"
          },
          "location": {
            "description": "Location where the signature was created",
            "type": "string",
            "example": "sproof sign"
          },
          "date": {
            "description": "Date and time of the signature",
            "type": "string",
            "format": "date-time",
            "example": "Wed, 10 Jul 2024 09:08:24 GMT"
          },
          "signerInfo": {
            "description": "Additional signer information",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "page": {
            "description": "Page number where the signature is located",
            "type": "integer",
            "example": 0
          },
          "width": {
            "description": "Width of the signature on the page",
            "type": "string",
            "example": "0.236"
          },
          "height": {
            "description": "Height of the signature on the page",
            "type": "string",
            "example": "0.085"
          },
          "x": {
            "description": "x coordinate of the signature's top left position on the page",
            "type": "string",
            "example": "0.142"
          },
          "y": {
            "description": "y coordinate of the signature's top left position on the page",
            "type": "string",
            "example": "0.79"
          },
          "valid": {
            "$ref": "#/components/schemas/SproofSignatureValidationResult"
          }
        }
      },
      "SproofSignatureValidationResult": {
        "type": "object",
        "description": "Validation results of a signature",
        "properties": {
          "success": {
            "description": "Indicates if the validation operation was successful",
            "type": "boolean",
            "example": true
          },
          "errorMessage": {
            "description": "Error message if the validation operation failed",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "valid": {
            "description": "Indicates if the signature is valid",
            "type": "boolean",
            "example": true
          },
          "signatureValid": {
            "description": "Indicates if the signature itself is valid",
            "type": "boolean",
            "example": true
          },
          "certificateValid": {
            "description": "Indicates if the certificate used for the signature is valid",
            "type": "boolean",
            "example": true
          },
          "signatureVerificationResult": {
            "description": "Result of the signature verification",
            "type": "string",
            "example": "signature verified successfully"
          },
          "certificateVerificationResult": {
            "description": "Result of the certificate verification",
            "type": "string",
            "example": "certificate validated successfully"
          },
          "subject": {
            "description": "Subject of the certificate",
            "type": "string",
            "example": "sproof GmbH"
          },
          "issuer": {
            "description": "Issuer of the certificate",
            "type": "string",
            "example": "D-Trust GmbH"
          },
          "signatureQualification": {
            "description": "Qualification of the signature",
            "type": "string",
            "example": "urn:cef:dss:signatureQualification:notApplicable"
          }
        }
      },
      "SproofDefaultProvider": {
        "type": "object",
        "description": "Configuration for the default signature provider",
        "nullable": true,
        "properties": {
          "tag": {
            "type": "string",
            "description": "This tag determines the identity provider that will be used for the signing process. Choose from a predefined set of supported providers. \n>**Note1:** Some providers are only available for certain signatureTypes, for example ``onetimeqes`` will require ``\"signatureType\" : [\"qualifiedPlusIdent\"]`` \n**Note2:** When using ``sproof-qualified`` as default provider the recipient has to have an active sproof account with an active User+ licence.",
            "enum": [
              "sproof-standard",
              "sproof-qualified",
              "simple",
              "dtrust",
              "evrotrust",
              "smartid",
              "mobileid",
              "idaustria",
              "swisscom",
              "prime",
              "yes",
              "spid",
              "beidcard",
              "fiidcard",
              "hridcard",
              "eeidcard",
              "uanataca",
              "lvidcard",
              "ptidcard",
              "frusbcard",
              "rousbcard",
              "simplysign",
              "primeeid",
              "certme",
              "onetimeqes"
            ]
          },
          "canChange": {
            "type": "boolean",
            "description": "Boolean to indicate if the invited recipient should be able to change the signature provider",
            "example": false,
            "default": true
          },
          "country": {
            "type": "string",
            "description": "The default country, if blank it's set to all, an error will be returned with what countries are available for the provider tag chosen",
            "example": "at",
            "default": "all",
            "enum": [
              "all",
              "at",
              "be",
              "bg",
              "hr",
              "cy",
              "cz",
              "dk",
              "ee",
              "fi",
              "fr",
              "de",
              "gr",
              "hu",
              "ie",
              "it",
              "lv",
              "lt",
              "lu",
              "mt",
              "nl",
              "pl",
              "pt",
              "ro",
              "sk",
              "si",
              "es",
              "se",
              "al",
              "ad",
              "am",
              "by",
              "ba",
              "fo",
              "ge",
              "gi",
              "is",
              "im",
              "xk",
              "li",
              "mk",
              "md",
              "mc",
              "me",
              "no",
              "sm",
              "rs",
              "ch",
              "tr",
              "ua",
              "gb",
              "va"
            ]
          }
        }
      },
      "AddToStackResponse": {
        "title": "Add to Stack Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "added"
          }
        }
      },
      "SignStackResponse": {
        "title": "Sign Stack Response",
        "type": "string",
        "example": "done"
      },
      "CreateFastlaneProfileResponse": {
        "title": "Create Fastlane Profile Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the profile",
            "example": "54f82188-7461-48fe-882c-afbf98256b16"
          },
          "name": {
            "type": "string",
            "description": "Name of the profile",
            "example": "Signing screen with custom email"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the profile was created",
            "example": "2024-10-02T08:21:53.305Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the profile was last updated",
            "example": "2024-10-02T08:21:53.305Z"
          },
          "configuration": {
            "$ref": "#/components/schemas/SproofFastlaneConfiguration"
          }
        }
      },
      "FastlaneProfileListResponse": {
        "title": "Fastlane Profile List Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the profile",
            "example": "54f82188-7461-48fe-882c-afbf98256b16"
          },
          "name": {
            "type": "string",
            "description": "Name of the profile",
            "example": "Signing screen with custom email"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the profile was created",
            "example": "2024-10-02T08:21:53.305Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the profile was last updated",
            "example": "2024-10-02T08:21:53.305Z"
          },
          "configuration": {
            "$ref": "#/components/schemas/SproofFastlaneConfiguration"
          }
        }
      },
      "UpdateFastlaneProfileResponse": {
        "title": "Update Fastlane Profile Response",
        "type": "object",
        "properties": {
          "updatedProfile": {
            "$ref": "#/components/schemas/SproofFastlaneConfiguration"
          }
        }
      },
      "DeleteFastlaneProfileResponse": {
        "title": "Delete Fastlane Profile Response",
        "type": "object",
        "properties": {
          "deletedProfiles": {
            "type": "array",
            "description": "A list of profile IDs that have been successfully deleted.",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "ff093edf-2c18-4302-bb82-f3ca202694e5"
            }
          }
        }
      },
      "AddProfileToDocumentResponse": {
        "title": "Add Profile to Document Response",
        "type": "object",
        "properties": {
          "set": {
            "type": "string",
            "example": "54f82188-7461-48fe-882c-afbf98256b16"
          }
        }
      },
      "RemoveProfileFromDocumentResponse": {
        "title": "Remove Profile from Document Response",
        "type": "object",
        "properties": {
          "removed": {
            "type": "string",
            "example": "54f82188-7461-48fe-882c-afbf98256b16"
          }
        }
      },
      "CreateFolderResponse": {
        "title": "Create Folder Response",
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "example": "envelope created: true"
          }
        }
      },
      "DeleteFolderResponse": {
        "title": "Delete Folder Response",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Successfully deleted envelope: <<envelopeId>>"
          }
        }
      },
      "UpdateFolderResponse": {
        "title": "Update Folder Response",
        "type": "string",
        "example": "done"
      },
      "DeleteFolderDocumentsResponse": {
        "title": "Delete Folder Documents Response",
        "type": "string",
        "example": "deleted: <<docId1>>, <<docId2>> from envelope: <<envelopeId>>"
      },
      "AddFolderDocumentsResponse": {
        "title": "Add Folder Documents Response",
        "type": "string",
        "example": "done"
      },
      "DeleteDocumentResponse": {
        "title": "Delete Document Response",
        "type": "string",
        "enum": [
          "deleted single document",
          "deleted folder"
        ],
        "example": "deleted single document"
      },
      "CreateQualifiedMemberResponse": {
        "allOf": [
          {
            "title": "Create Qualified Member Response"
          },
          {
            "$ref": "#/components/schemas/SproofPlanMember"
          }
        ]
      },
      "DeleteQualifiedMemberResponse": {
        "title": "Delete Qualified Member Response",
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "SproofDocument": {
        "title": "Document",
        "type": "object",
        "properties": {
          "name": {
            "description": "Document name",
            "type": "string",
            "example": "important_contract"
          },
          "id": {
            "description": "Document ID",
            "type": "string",
            "example": "7c4d105bf2cc7a146ce00b873563770fc8be20fe8c9946552dd212cdc2b49a554a356a"
          },
          "updatedAt": {
            "description": "Date of last document update",
            "example": "2022-03-28T14:40:06.698Z",
            "type": "string",
            "format": "date"
          },
          "createdAt": {
            "description": "Creation date of document",
            "example": "2022-03-28T14:36:06.314Z",
            "type": "string",
            "format": "date"
          },
          "signaturesTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The types of signatures that are allowed for this recipient, can be overwritten by recipient signature types. Options: ['advanced', 'advancedPlus', 'qualified', 'simple','qualifiedPlusIdent']",
            "example": []
          },
          "callbackUrl": {
            "type": "string",
            "description": "A post request including the document will be sent to this Url when a new signature is created",
            "example": "string"
          },
          "returnUrl": {
            "type": "string",
            "description": "The link of the return button after signing a document",
            "example": "https://sign.sproof.com"
          },
          "returnBtnText": {
            "type": "string",
            "description": "The text of the return button after signing a document",
            "example": "Back to the Dashboard"
          },
          "inPersonSigning": {
            "type": "boolean",
            "example": false
          },
          "signingRound": {
            "type": "number",
            "example": 2
          },
          "state": {
            "type": "string",
            "description": "The current state of the document. Possible values are: draft, pending, declined, completed, attachment, manuallyPending, manuallyCompleted",
            "example": "pending"
          },
          "member": {
            "allOf": [
              {
                "description": "Usually the owner of the document, but if you use getSignatureStatus the member will be one who's id is provided in the request"
              },
              {
                "$ref": "#/components/schemas/SproofMember"
              }
            ]
          },
          "members": {
            "description": "A list of invited contacts",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofMember"
            },
            "example": []
          },
          "boxes": {
            "type": "array",
            "default": [],
            "description": "Signature position data with additional response-specific fields. The cardStyle, pageWidth, and pageHeight fields are optional and may not be present in all API responses.",
            "items": {
              "$ref": "#/components/schemas/DocumentResponseBox"
            },
            "example": []
          },
          "refId": {
            "type": "string",
            "example": "Aug24-1234"
          },
          "allSignersSigned": {
            "type": "boolean",
            "example": false
          },
          "allMembersSigned": {
            "type": "boolean",
            "example": false
          },
          "focusedSigningMode": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "SproofFolder": {
        "title": "Folder",
        "type": "object",
        "properties": {
          "name": {
            "description": "Folder name",
            "type": "string",
            "example": "important_contract"
          },
          "createdAt": {
            "description": "Creation date of folder",
            "example": "2023-03-28T14:36:06.314Z",
            "type": "string",
            "format": "date"
          },
          "state": {
            "description": "State of the folder",
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "done"
            ],
            "default": "draft",
            "example": "draft"
          },
          "isAdmin": {
            "description": "Indicates if the logged in person is the admin of this folder",
            "type": "boolean"
          },
          "members": {
            "description": "A list of invited contacts",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofFolderMember"
            }
          },
          "documents": {
            "description": "List of documents",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofFolderDocument"
            }
          }
        }
      },
      "SproofSigner": {
        "title": "Signer",
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "description": "Email address of signer",
            "type": "string",
            "example": "signer@sproof.com"
          },
          "firstName": {
            "description": "First name of signer",
            "type": "string",
            "example": "maria"
          },
          "lastName": {
            "description": "Last name of signer",
            "type": "string",
            "example": "musterfrau"
          },
          "doNotSendEmail": {
            "description": "If set to `true` no email is sent to the signer",
            "type": "boolean"
          },
          "useFastlane": {
            "description": "If set to ``true`` the signer receives a Fastlane link in the invitation email",
            "type": "boolean"
          },
          "customId": {
            "description": "The customId can be used to create a document link for a recipient instead of using the memberId provided by the return object of the createSignatureRequest. Check [Using the custom ID](#section/Using-the-Custom-ID) for more information.\n\n**Note: The customId can only be used to build the recipient link to a document. It can not be used for other requests instead of the memberId**\n",
            "type": "string"
          },
          "isSigner": {
            "description": "Set to `false` if the signer should be treated as viewer only",
            "type": "boolean"
          },
          "signingOrder": {
            "description": "The order when the signer will be notified to sign the document. The values for signingOrder start at 1. If there exists a smaller signingOrder then this signer needs to sign the document before.",
            "type": "integer"
          },
          "defaultProvider": {
            "$ref": "#/components/schemas/SproofDefaultProvider"
          },
          "signaturePosition": {
            "title": "DocumentMemberSignaturePosition",
            "description": "Array or one single signaturePosition Object. The signature position **relative to the height and width of the page**.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/SproofSignaturePosition"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SproofSignaturePosition"
                }
              }
            ]
          }
        }
      },
      "SproofPlanMember": {
        "title": "Plan Member",
        "type": "object",
        "properties": {
          "email": {
            "description": "Email of plan member",
            "type": "string",
            "example": "max.mustermann@sproof.com"
          },
          "firstName": {
            "description": "First name of member",
            "type": "string",
            "example": "Max"
          },
          "lastName": {
            "description": "Last name of member",
            "type": "string",
            "example": "Mustermann"
          },
          "identificationStarted": {
            "description": "Boolean which indicates if the identification process was started",
            "type": "boolean",
            "example": false
          },
          "isIdentified": {
            "description": "Boolean which indicates if the plan member is identified for qualified signing",
            "type": "boolean",
            "example": false
          },
          "identifiedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date of the last time the user went through the identification process"
          },
          "isAdvancedUser": {
            "description": "Boolean which indicates if the plan member is an advanced user",
            "type": "boolean",
            "example": false
          },
          "isQualifiedUser": {
            "description": "Boolean which indicates if the plan member is a qualifed user",
            "type": "boolean",
            "example": false
          },
          "isBlocked": {
            "description": "Boolean which indicates if the plan member is blocked but not deleted",
            "type": "boolean"
          },
          "isPending": {
            "description": "Boolean which indicates that a plan member wants to join a plan which need to be updated.",
            "type": "boolean",
            "example": false
          },
          "role": {
            "description": "Role of the user in the plan",
            "type": "string",
            "example": "user",
            "enum": [
              "owner",
              "user",
              "poweruser"
            ]
          },
          "planTransferPending": {
            "description": "Plan transfer is in progress",
            "type": "boolean",
            "example": false
          },
          "isDeletable": {
            "description": "Boolean which indicates that a plan member can be deleted. You need to wait at lease 30 days after the identification of a plan member before you can delete the member",
            "type": "boolean",
            "example": true
          },
          "remainingDaysToDelete": {
            "description": "Remaining days to wait until the plan member can be finally deleted",
            "type": "integer"
          },
          "lastLoginAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date of the last time the member logged into their account"
          },
          "verificationLink": {
            "description": "A link to set the password and complete the registration process",
            "type": "string"
          }
        }
      },
      "SproofFolderMember": {
        "title": "Folder Member",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The member ID can be used to open the document within the sproof sign editor. A more detailed description can be found [here](#section/Using-the-member-ID)",
            "example": "0dd4a4718ad3669c7133a615d955b4a89f5f11452de55d21d7ca0fff859a08c698b5a3"
          },
          "documentId": {
            "description": "Document ID of the document the member is on",
            "type": "string",
            "example": "dd7b88f7c24808372891b54e507988283e30d694dd75c52eb91c466e7a36972a851119"
          },
          "email": {
            "description": "Email of document owner",
            "type": "string",
            "format": "email",
            "example": "max.mustermann@sproof.com"
          },
          "firstName": {
            "description": "Firstname of document owner",
            "type": "string",
            "example": "Max"
          },
          "lastName": {
            "description": "Lastname of document owner",
            "type": "string",
            "example": "Mustermann"
          },
          "lastActivityAt": {
            "type": "string",
            "format": "date",
            "example": "2022-04-05T08:58:04.206Z"
          },
          "createdAt": {
            "description": "Date and time of document upload",
            "type": "string",
            "format": "date",
            "example": "2022-04-05T08:58:04.206Z"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Indicates whether the member has Admin status",
            "example": true
          },
          "signaturePosition": {
            "description": "Based on what is sent in the request you can expect.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/SproofSignaturePosition"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SproofSignaturePosition"
                }
              }
            ]
          },
          "signingOrder": {
            "type": "number",
            "example": 1
          },
          "declinedAt": {
            "type": "string",
            "format": "date",
            "example": null
          }
        }
      },
      "SproofFolderDocument": {
        "title": "Folder Document",
        "type": "object",
        "properties": {
          "name": {
            "description": "Document Name",
            "type": "string",
            "example": "important_contract"
          },
          "state": {
            "description": "State of the document",
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "done"
            ],
            "default": "draft",
            "example": "draft"
          },
          "documentId": {
            "description": "Id of the document",
            "type": "string"
          },
          "memberId": {
            "description": "MemberId of the user for this document",
            "type": "string"
          }
        }
      },
      "SproofSignatureRequestResponse": {
        "title": "Signature Request Response",
        "type": "object",
        "description": "Response object for signature request operations",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the signature request was successful",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Response message",
            "example": "Signature request created successfully"
          },
          "document": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SproofDocument"
              },
              {
                "description": "The created document object"
              }
            ]
          }
        }
      },
      "SproofDocumentResponse": {
        "title": "Document Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "List of documents",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofDocument"
            }
          },
          "pagination": {
            "allOf": [
              {
                "description": "Pagination object"
              },
              {
                "$ref": "#/components/schemas/SproofPaginationObject"
              }
            ]
          },
          "allDocuments": {
            "description": "Number of all documents",
            "type": "integer",
            "example": 43
          },
          "envelopeDocuments": {
            "description": "Number of documents in folders",
            "type": "integer",
            "example": 6
          },
          "createdDocuments": {
            "description": "Number of created documents",
            "type": "integer",
            "example": 55
          },
          "createdIncompleteDocuments": {
            "description": "Number of created incomplete documents",
            "type": "integer",
            "example": 16
          },
          "incompleteDocuments": {
            "description": "Number of total incomplete documents",
            "type": "integer",
            "example": 18
          },
          "draftDocuments": {
            "description": "Number of drafts",
            "type": "integer",
            "example": 28
          },
          "invitedDocuments": {
            "description": "Number of invited documents",
            "type": "integer",
            "example": 7
          },
          "declinedDocuments": {
            "description": "Number of declined documents",
            "type": "integer",
            "example": 0
          },
          "pendingInvitations": {
            "description": "Number of pending invitations (not in signing round yet)",
            "type": "integer",
            "example": 0
          },
          "overdueDocuments": {
            "description": "Number of overdue documents",
            "type": "integer",
            "example": 0
          },
          "openInvitedDocuments": {
            "description": "Number of open invited documents",
            "type": "integer",
            "example": 6
          },
          "openInvitedToApproveDocuments": {
            "description": "Number of open documents to be approved by you",
            "type": "integer",
            "example": 3
          },
          "openInvitedToViewDocuments": {
            "description": "Number of open documents to be viewed by you",
            "type": "integer",
            "example": 1
          },
          "openInvitedToSignDocuments": {
            "description": "Number of open documents to be signed by you",
            "type": "integer",
            "example": 3
          },
          "openPositionedDocuments": {
            "description": "Number of open positioned documents (ready for stack)",
            "type": "integer",
            "example": 7
          },
          "stackedDocuments": {
            "description": "Number of stacked documents",
            "type": "integer",
            "example": 1
          },
          "completedDocuments": {
            "description": "Number of completed documents",
            "type": "integer",
            "example": 6
          }
        }
      },
      "SproofFolderListResponse": {
        "title": "Folder List Response",
        "type": "object",
        "properties": {
          "data": {
            "description": "List of envelopes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofFolderResponse"
            }
          },
          "pagination": {
            "allOf": [
              {
                "description": "Pagination object"
              },
              {
                "$ref": "#/components/schemas/SproofPaginationObject"
              }
            ]
          }
        }
      },
      "SproofFolderResponse": {
        "title": "Folder Response",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SproofFolder"
          }
        ]
      },
      "SproofSignaturePosition": {
        "title": "Signature Position",
        "type": "object",
        "properties": {
          "page": {
            "description": "Page number, starting with 0",
            "type": "integer"
          },
          "x": {
            "description": "x coordinate of the signatures' top left position",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "example": 0.57489
          },
          "y": {
            "description": "y coordinate of the signatures' top left position",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "example": 0.8455
          },
          "width": {
            "description": "Width of the signature",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "example": 0.35
          },
          "height": {
            "description": "Height of the signature",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "example": 0.1
          }
        }
      },
      "SproofSignatureBox": {
        "title": "Signature Box",
        "type": "object",
        "properties": {
          "page": {
            "description": "Page number, starting by 0",
            "default": 0,
            "type": "number"
          },
          "pageWidth": {
            "type": "number"
          },
          "pageHeight": {
            "type": "number"
          },
          "type": {
            "example": "signatureStyleBox",
            "type": "string"
          },
          "maxWidht": {
            "type": "number"
          },
          "minWidht": {
            "type": "number"
          },
          "maxHeight": {
            "type": "number"
          },
          "minHeight": {
            "type": "number"
          },
          "x": {
            "description": "x coordinate of the signatures' top left position",
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "y": {
            "description": "y coordinate of the signatures' top left position",
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "width": {
            "description": "width of the signature",
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "height": {
            "description": "height of the signature",
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "resizeable": {
            "type": "boolean",
            "example": false
          },
          "styleId": {
            "type": "string"
          },
          "keepRatio": {
            "type": "boolean"
          },
          "selectedSigningOption": {
            "type": "string"
          },
          "value": {
            "description": "Base64 Encoded PNG File which represents the signature or seal",
            "type": "string"
          },
          "moveable": {
            "type": "boolean"
          },
          "signatureType": {
            "description": "Signature type",
            "example": "aes_sproof",
            "type": "string"
          },
          "fdaConfig": {
            "type": "object"
          }
        }
      },
      "SproofDocumentRequestBody": {
        "title": "Document Request Body",
        "type": "object",
        "required": [
          "token",
          "data"
        ],
        "properties": {
          "token": {
            "description": "Token for authentication",
            "example": "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX",
            "type": "string"
          },
          "data": {
            "description": "Base64 Encoded Pdf File as string, represented by the BASE64PDF token",
            "example": "{{BASE64PDF}}",
            "type": "string"
          },
          "signature": {
            "description": "Base64 Encoded PNG File as a string which represents the signature or seal, represented by the BASE64PNGorJPG token",
            "example": "{{BASE64PNGorJPG}}",
            "type": "string"
          },
          "page": {
            "description": "Page number, starting at 0 ,if you pass a page number that is not out of bounds, the last page of the document will be used",
            "default": 0,
            "type": "number",
            "example": 0
          },
          "x": {
            "description": "x coordinate of the signature image, default is bottom right position, where 0 is the leftmost edge and 1 is the rightmost edge of the page",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.7,
            "example": 0.142
          },
          "y": {
            "description": "y coordinate of the signature image, default values are for bottom right, where 0 is the bottom edge and 1 is the top edge of the page",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.9,
            "example": 0.79
          },
          "width": {
            "description": "Width of the signature, relative to the page width, where 1 represents the full width of the page",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.3,
            "example": 0.26
          },
          "height": {
            "description": "Height of the signature, relative to the page height, where 1 represents the full height of the page",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.1,
            "example": 0.085
          },
          "name": {
            "description": "Name of the signer, defaults to API token holder name",
            "type": "string",
            "example": "Max Mustermann"
          },
          "email": {
            "description": "Email of the signer, defaults to API token holder email",
            "type": "string",
            "example": "max.mustermann@sproof.com"
          },
          "key": {
            "description": "PKCS #12-File including the private key and the X.509 certificate",
            "type": "string",
            "example": ""
          },
          "password": {
            "description": "Password of the key file",
            "type": "string",
            "example": ""
          },
          "signatureCard": {
            "description": "Flag to add a signature card with a visual timestamp that can include a custom image or name based on above parameters, defaults to true if no signature image is provided and uses the api token holder name and email as default values",
            "type": "boolean",
            "default": false,
            "example": true
          }
        }
      },
      "SproofDocumentResponseBody": {
        "title": "Document Response Body",
        "type": "object",
        "properties": {
          "data": {
            "description": "Base64 Encoded Signed PDF File",
            "example": "{{BASE64SIGNEDPDF}}",
            "type": "string"
          },
          "signatures": {
            "description": "List of signature details",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofSignatureDetail"
            }
          }
        }
      },
      "SproofAddToStackRequestBody": {
        "title": "Add to Stack Request Body",
        "type": "object",
        "required": [
          "token",
          "memberId"
        ],
        "properties": {
          "token": {
            "description": "Token for authentication",
            "example": "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX",
            "type": "string"
          },
          "memberId": {
            "description": "MemberId of the user for this document",
            "type": "string"
          },
          "signature": {
            "description": "Base64 Encoded PNG File which represents the signature or seal, if a custom image is desired",
            "type": "string",
            "example": null
          },
          "page": {
            "description": "Page number, starting at 0, default is last page of document",
            "default": null,
            "type": "number"
          },
          "x": {
            "description": "x coordinate of the signatures' top left position",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.7
          },
          "y": {
            "description": "y coordinate of the signatures' top left position",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.9
          },
          "width": {
            "description": "width of the signature",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.3
          },
          "height": {
            "description": "height of the signature",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.1
          },
          "signatureType": {
            "description": "Type of the signature",
            "type": "string",
            "enum": [
              "aes_sproof",
              "qes_sproof"
            ],
            "default": "qes_sproof"
          }
        }
      },
      "SproofPaginationObject": {
        "title": "Pagination Object",
        "type": "object",
        "properties": {
          "total": {
            "description": "Total number of elements (e.g., documents) in a view (e.g., allDocuments)",
            "type": "integer",
            "example": 43
          },
          "lastPage": {
            "description": "Number of the last page",
            "type": "integer",
            "example": 5
          },
          "perPage": {
            "description": "Number of documents per page",
            "type": "integer",
            "example": 10
          },
          "currentPage": {
            "description": "Number of the current page",
            "type": "integer",
            "example": 1
          },
          "to": {
            "description": "Index of the last document",
            "type": "integer",
            "example": 10
          }
        }
      },
      "SproofFolderDocumentInvite": {
        "title": "Folder Document Invite",
        "type": "object",
        "properties": {
          "id": {
            "description": "Id of the document",
            "type": "string"
          },
          "signingOrder": {
            "description": "The order when the signer will be notified to sign the document. The values for signingOrder start at 1. If there exists a smaller signingOrder then this signer needs to sign the document before.",
            "type": "integer"
          },
          "signaturePosition": {
            "description": "Array or one single signaturePosition Object. The signature position **relative to the height and width of the page**.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/SproofSignaturePosition"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SproofSignaturePosition"
                }
              }
            ]
          }
        }
      },
      "SproofFolderSigner": {
        "title": "Folder Signer",
        "type": "object",
        "properties": {
          "email": {
            "description": "Email address of signer",
            "type": "string",
            "example": "signer@sproof.com"
          },
          "firstName": {
            "description": "First name of signer",
            "type": "string",
            "example": "maria"
          },
          "lastName": {
            "description": "Last name of signer",
            "type": "string",
            "example": "musterfrau"
          },
          "isSigner": {
            "description": "Indicates if the person should be able to sign the document or can only view it",
            "type": "boolean"
          },
          "documents": {
            "description": "List of document ids and signature positions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofFolderDocumentInvite"
            }
          }
        }
      },
      "SproofSignatureRequestBody": {
        "title": "Signature Request Body",
        "type": "object",
        "required": [
          "token",
          "data",
          "email",
          "firstName",
          "lastName",
          "fileName"
        ],
        "properties": {
          "token": {
            "description": "Token for authentication (e.g. your API key)",
            "example": "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX",
            "type": "string"
          },
          "data": {
            "description": "Base64 encoded file (PDF or DOCX). If the file is DOCX, mimetype must be set accordingly.",
            "type": "string",
            "example": "string Base64 encoded file (PDF or DOCX)"
          },
          "mimetype": {
            "description": "MIME type of the Base64-encoded file. Required for DOCX files.",
            "default": "application/pdf",
            "type": "string",
            "enum": [
              "application/pdf",
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            ]
          },
          "email": {
            "description": "Email of the sender. It must belong to a member of your plan.",
            "type": "string",
            "format": "email",
            "example": "max.mustermann@sproof.com"
          },
          "firstName": {
            "description": "First name of the sender",
            "type": "string",
            "example": "Max"
          },
          "lastName": {
            "description": "Last name of the sender",
            "type": "string",
            "example": "Mustermann"
          },
          "fileName": {
            "description": "Name of the file",
            "type": "string",
            "example": "important_contract"
          },
          "callbackUrl": {
            "description": "A post request including the document will be sent to this Url when a new signature is created",
            "type": "string"
          },
          "returnUrl": {
            "type": "string",
            "description": "The link of the return button after signing a document",
            "example": "https://sign.sproof.com"
          },
          "returnBtnText": {
            "type": "string",
            "description": "The text of the return button after signing a document",
            "example": "Back to the Dashboard"
          },
          "language": {
            "description": "Specifies the language of the emails sent to anonymous users who do not have an account. For users with an account, the language they have selected in their profile will be used instead.",
            "default": "en",
            "type": "string"
          },
          "signatureTypes": {
            "description": "This parameter accepts an array containing a single string that specifies the allowed signature type. \n- Set to [\"qualified\"] to allow only qualified signatures.\n- Set to [\"advanced\"] to allow only advanced signatures.\n- If the array is left empty, all signature types are allowed.\n",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "qualified"
            ]
          },
          "subject": {
            "description": "The subject line of the email sent to the signers.",
            "type": "string",
            "example": "This is a custom subject."
          },
          "message": {
            "description": "A custom message sent to the signers within the email",
            "type": "string",
            "example": "This is a custom message."
          },
          "dueDate": {
            "description": "For historical reasons, this date marks the start of reminder email notifications. To precisely manage the actual due date—when the document must be signed—as well as the sendReminders and reminderInterval settings, we recommend using the new [createSignatureRequest](#operation/createSignatureRequest) feature",
            "type": "string",
            "format": "date YYYY-MM-DD",
            "example": "2022-03-28"
          },
          "focusedSigningMode": {
            "description": "When this option is enabled, the recipient of the signature request will be limited to  signing or declining the document, and will not be able to navigate away from the page",
            "type": "boolean",
            "default": false,
            "example": false
          },
          "usePlaceholders": {
            "description": "If set we will use the placeholders stored in the document for inviting signers.",
            "type": "boolean",
            "default": false,
            "example": false
          },
          "boxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Box"
            },
            "default": [],
            "description": "The boxes of the document."
          },
          "isMailMerge": {
            "default": false,
            "type": "boolean",
            "description": "When set to `true`, the [mail merge document](https://www.sproof.com/en/help-resources/sproof-academy/send-out-mail-merges) included in the request will be automatically split and sent out to all detected recipients within the document.  The return value will be an array of document objects representing all successfully created and sent documents."
          },
          "signers": {
            "description": "List of signers **without the sender of the document.**",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofSigner"
            }
          },
          "label": {
            "description": "A custom label that can be sent to organize documents.",
            "type": "string",
            "example": "Urgent"
          },
          "refId": {
            "type": "string",
            "description": "The refId is an optional field used to cross-reference the uploaded document. If provided, it allows you to assign a custom reference identifier to the document, which will be returned as part of the document object in future API responses. This can be useful for tracking or organizing documents by an external system or workflow.\n",
            "example": "Aug24-1234"
          },
          "useFastlane": {
            "type": "boolean",
            "default": false,
            "example": true,
            "description": "If set to true all signers receive a fastlane link to the document in the invitation email."
          },
          "fastlaneProfileId": {
            "type": "string",
            "format": "uuid",
            "example": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
            "description": "Specify the Fastlane profile which should be used with this document. useFastlane needs to be set to true."
          }
        }
      },
      "SproofFolderRequestBody": {
        "title": "Folder Request Body",
        "type": "object",
        "required": [
          "signers"
        ],
        "properties": {
          "signers": {
            "description": "List of signers **without the sender of the document.**",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofFolderSigner"
            }
          }
        }
      },
      "SproofuserPlanMembers": {
        "title": "A userPlanMember",
        "type": "object",
        "required": [
          "id",
          "userPlanId",
          "email"
        ],
        "properties": {
          "id": {
            "description": "Id",
            "type": "string"
          },
          "userPlanId": {
            "description": "User Plan Id",
            "type": "string"
          },
          "email": {
            "description": "Users Email Address",
            "type": "string"
          },
          "type": {
            "description": "Type of the plan",
            "type": "string"
          },
          "role": {
            "description": "Role of the user in the plan",
            "type": "string"
          },
          "updatedAt": {
            "description": "Last update",
            "type": "string"
          },
          "createdAt": {
            "description": "Entry created at",
            "type": "string"
          },
          "isVerified": {
            "description": "Is verified",
            "type": "boolean"
          },
          "isBlocked": {
            "description": "Member is blocked",
            "type": "boolean"
          }
        }
      },
      "SproofCreateFolderRequestBody": {
        "title": "Create Folder Request Body",
        "type": "object",
        "description": "Request body for creating a folder",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the folder"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofFolderMember"
            },
            "description": "List of members to add to the folder"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofDocument"
            },
            "description": "List of documents to add to the folder"
          }
        }
      },
      "SproofCreateFolderWithDocuments": {
        "title": "Create Folder With Documents",
        "type": "object",
        "description": "Request body for creating a folder with document objects",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SproofDocument"
            },
            "description": "List of documents to add to the folder"
          }
        }
      },
      "SproofRemoveFastlaneProfileRequest": {
        "title": "Remove Fastlane Profile Request",
        "type": "object",
        "description": "Request body for removing a Fastlane profile from documents",
        "properties": {
          "memberIds": {
            "type": "array",
            "description": "List of admin memberIds where the Fastlane profile should be removed from.",
            "items": {
              "type": "string",
              "example": "d46b68b53d2bef3025fd21a0737b0cd7425b1270b0115f39dafa46131023247cd46e7f"
            }
          }
        }
      },
      "SproofRemoveFastlaneProfileResponse": {
        "title": "Remove Fastlane Profile Response",
        "type": "object",
        "description": "Response for removing a Fastlane profile from documents",
        "properties": {
          "removed": {
            "type": "string",
            "description": "ID of the removed Fastlane profile",
            "example": "54f82188-7461-48fe-882c-afbf98256b16"
          }
        }
      },
      "SproofErrorResponse": {
        "title": "Error Response",
        "type": "object",
        "description": "Standard error response object",
        "properties": {
          "message": {
            "type": "string",
            "description": "General or specific error message",
            "example": "Example error message"
          },
          "traceId": {
            "type": "string",
            "description": "Trace ID - Provide this to the sproof support team to help them debug the issue",
            "example": "db89cb064945cea8c361aca3638e05d3"
          }
        }
      },
      "SproofSuccessResponse": {
        "title": "Success Response",
        "type": "object",
        "description": "Standard success response object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Operation completed successfully"
          }
        }
      },
      "SproofBatchDeleteResponse": {
        "title": "Batch Delete Response",
        "type": "object",
        "description": "Response for batch delete operations",
        "properties": {
          "deletedProfiles": {
            "type": "array",
            "description": "List of deleted profile IDs",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "example": [
              "54f82188-7461-48fe-882c-afbf98256b16",
              "ff093edf-2c18-4302-bb82-f3ca202694e5"
            ]
          }
        }
      },
      "SproofDocumentListResponse": {
        "title": "Document List Response",
        "type": "object",
        "description": "Response object for document list operations",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of documents",
            "items": {
              "$ref": "#/components/schemas/SproofDocument"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/SproofPaginationObject"
          }
        }
      },
      "SproofSignatureValidationResponse": {
        "title": "Signature Validation Response",
        "type": "object",
        "description": "Response object for signature validation",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the validation was successful",
            "example": true
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message if validation failed",
            "nullable": true
          },
          "valid": {
            "type": "boolean",
            "description": "Whether the signature is valid",
            "example": true
          },
          "signatureValid": {
            "type": "boolean",
            "description": "Whether the signature itself is valid",
            "example": true
          },
          "certificateValid": {
            "type": "boolean",
            "description": "Whether the certificate is valid",
            "example": true
          },
          "signatureVerificationResult": {
            "type": "string",
            "description": "Detailed result of signature verification",
            "example": "signature verified successfully"
          },
          "certificateVerificationResult": {
            "type": "string",
            "description": "Detailed result of certificate verification",
            "example": "certificate validated successfully"
          }
        }
      },
      "SproofBatchDeleteRequest": {
        "title": "Batch Delete Request",
        "type": "object",
        "description": "Request body for batch deleting Fastlane profiles",
        "properties": {
          "ids": {
            "type": "array",
            "description": "List of profile IDs to be deleted",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "example": [
              "54f82188-7461-48fe-882c-afbf98256b16",
              "ff093edf-2c18-4302-bb82-f3ca202694e5"
            ]
          }
        }
      },
      "SproofUpdateFolderRequest": {
        "title": "Update Folder Request",
        "type": "object",
        "description": "Request body for updating an envelope name",
        "required": [
          "folderName"
        ],
        "properties": {
          "folderName": {
            "type": "string",
            "description": "New name for the envelope",
            "example": "Updated Contract Envelope"
          }
        }
      },
      "SproofDeleteFolderDocumentsRequest": {
        "title": "Delete Folder Documents Request",
        "type": "object",
        "description": "Request body for deleting documents from an envelope",
        "required": [
          "documentIds"
        ],
        "properties": {
          "documentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of document IDs to be removed from the envelope",
            "example": [
              "doc1",
              "doc2"
            ]
          }
        }
      },
      "SproofAddFolderDocumentsRequest": {
        "title": "Add Folder Documents Request",
        "type": "object",
        "description": "Request body for adding documents to an envelope",
        "required": [
          "documentIds"
        ],
        "properties": {
          "documentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of document IDs to be added to the envelope",
            "example": [
              "doc1",
              "doc2"
            ]
          }
        }
      },
      "FastlaneProfileGetResponse": {
        "title": "Fastlane Profile Get Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the profile",
            "example": "54f82188-7461-48fe-882c-afbf98256b16"
          },
          "name": {
            "type": "string",
            "description": "Name of the profile",
            "example": "Signing screen with custom email"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the profile was created",
            "example": "2024-10-02T08:21:53.305Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the profile was last updated",
            "example": "2024-10-02T08:21:53.305Z"
          },
          "configuration": {
            "$ref": "#/components/schemas/SproofFastlaneConfiguration"
          }
        }
      },
      "SignBatchRequest": {
        "title": "Sign Batch Request",
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email of the member from the stack you want to sign (only QES)"
          }
        }
      },
      "CreateSignatureRequestBody": {
        "title": "Create Signature Request Body",
        "type": "object",
        "description": "Request body for creating a new signature request",
        "required": [
          "token",
          "inviteData",
          "envelopeData"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Token for authentication (e.g. your API key)",
            "example": "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX"
          },
          "inviteData": {
            "$ref": "#/components/schemas/CSRInviteData"
          },
          "envelopeData": {
            "$ref": "#/components/schemas/EnvelopeData"
          }
        }
      },
      "CSRInviteData": {
        "title": "CSR Invite Data",
        "type": "object",
        "description": "Data relevant for the invitation",
        "required": [
          "sender",
          "recipients"
        ],
        "properties": {
          "sender": {
            "$ref": "#/components/schemas/CSRSender"
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CSRRecipient"
            }
          },
          "signatureTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The types of signatures that are allowed. Options: ['advanced', 'advancedPlus', 'qualified', 'simple', 'qualifiedPlusIdent']"
          },
          "subject": {
            "type": "string",
            "description": "The subject line of the email sent to the recipients",
            "example": "Please sign this important document"
          },
          "message": {
            "type": "string",
            "description": "A custom message sent to the recipients within the email",
            "example": "This document requires your signature"
          }
        }
      },
      "CSRSender": {
        "title": "CSR Sender",
        "type": "object",
        "description": "Information about the sender of the signature request",
        "required": [
          "email",
          "firstName"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email of the sender. It must belong to a member of your plan",
            "example": "max.mustermann@sproof.com"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the sender",
            "example": "Max"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the sender",
            "example": "Mustermann"
          }
        }
      },
      "CSRRecipient": {
        "title": "CSR Recipient",
        "type": "object",
        "description": "Information about a recipient of the signature request",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email of the recipient",
            "example": "signer@sproof.com"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient",
            "example": "Maria"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the recipient",
            "example": "Musterfrau"
          },
          "doNotSendEmails": {
            "type": "boolean",
            "description": "If set to true no email is sent to the recipient"
          },
          "useFastlane": {
            "type": "boolean",
            "description": "If set to true the recipient receives a Fastlane link"
          }
        }
      },
      "EnvelopeData": {
        "type": "object",
        "properties": {
          "usePlaceholders": {
            "type": "boolean",
            "description": "If true, text placeholders/formFields stored in the document\n  wil be used for inviting recipients.",
            "example": false
          },
          "inPersonSigning": {
            "type": "boolean",
            "description": "When true, the recipient gets a popup where he needs to manually draw a signature",
            "example": false
          },
          "folderName": {
            "type": "string",
            "description": "If given, an envelope will be created containing all documents in documentDataArray. (Required if more than one document is sent)",
            "example": "Important Documents."
          },
          "callbackUrl": {
            "type": "string",
            "description": "A POST request, including the document, will be sent to this URL when a new signature is created or when a recipient declines the document. In case of failure, a retry mechanism is in place to ensure the request is retried.",
            "example": "https://yourserver.com/api/v1/documents/signature."
          },
          "returnUrl": {
            "type": "string",
            "description": "The link of the return button after signing a document",
            "example": "https://www.sproof.com."
          },
          "returnBtnText": {
            "type": "string",
            "description": "The text of the return button after signing a document",
            "example": "Return to sproof."
          },
          "documentDataArray": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentData"
            },
            "maxItems": 25,
            "description": "Array of the data of each document, if more than one document is sent, the folderName is required."
          },
          "useFastlane": {
            "type": "boolean",
            "description": "If set to ``true`` the signer receives a Fastlane link in the invitation email."
          },
          "fastlaneProfileId": {
            "type": "string",
            "format": "uuid",
            "description": "Specify the Fastlane profile which should be used with this document. (useFastlane must be set to true)."
          }
        },
        "required": [
          "documentDataArray"
        ],
        "description": "Can create either one document or multiple documents in an envelope. If more than one document is sent, the folderName is required.",
        "example": {
          "documentDataArray": [
            {
              "data": "base64string",
              "fileName": "important_contract",
              "recipientDetails": {
                "max.mustermann@sproof.com": {
                  "role": "signer",
                  "signaturePositions": [
                    {
                      "page": 0,
                      "x": 0.57489,
                      "y": 0.8455,
                      "width": 0.35,
                      "height": 0.1
                    }
                  ]
                },
                "maria.musterfrau@sproof.com": {
                  "role": "viewer"
                }
              }
            }
          ]
        }
      },
      "DocumentData": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/Document"
          },
          {
[...]
